* {
    box-sizing: border-box;
}
  
body {
    font-family: Arial;
    padding: 10px;
    background: #ffffff;
}

header {
    padding-bottom: 30px;
}

hr {
    margin: 0%;
}

ul {
    list-style-type: none;
    margin: 0%;
}

.upperbar li {
    float: right;
    display: block;
    color: #505050;
    text-align: center;
    padding: 0px 8px;
}

.upperbar li a {
    float: right;
    display: block;
    color: #505050;
    text-align: center;
    text-decoration: none;
}

.upperbar li a:hover {
    color: rgb(0, 70, 42);
    font-weight: bold;
}

nav {
    overflow: hidden;
    background-color: #ffffff;
}

.navbar__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    padding-bottom: 40px;
}

.navbar__logo img {
    height: 50px;
}

.navbar__logo a {
    font-weight: bold;
    font-size: 50px;
    color: rgb(0, 70, 42);
    text-decoration: none;
}

.navbar__menu .submenu {
    padding: 0px;
    overflow: hidden;
}

.navbar__menu li {
    float: left;
    line-height: 40px;
}

.navbar__menu li:hover {
    background-color: rgb(134, 182, 162);
    transition-duration: 0.5s;
}
  
.navbar__menu li:hover .submenu {
    height: 180px; /*서브메뉴 li한개의 높이 50*5*/
    transition-duration: 1s;
}

.navbar__menu li a {
    display: block;
    font-size: 18px;
    color: #222222;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

.navbar__menu li a:hover {
    font-size: 18px;
    background-color: rgb(134, 182, 162);
    color: #222222;
}

.submenu {
    height: 0; /*ul의 높이를 안보이게 처리*/
    overflow: hidden;
}

.submenu li {
    float: none;
    line-height: 30px;
    background-color: rgb(134, 182, 162);
    text-align: center;
}

.submenu__under li {
    float: left;
    display: block;
    font-size: 18px;
    color: #222222;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
}

.submenu__under li a {
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 70, 42);
    text-align: center;
    text-decoration: none;
}

.submenu__under li a:hover {
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 70, 42);
}

.column {
    float: left;
    padding: 20px;
}

.column.left {
    width: 40%;
    text-align: center;
}

.column.right {
    width: 60%;
}

.column.right input::placeholder {
    text-align: right;
}

textarea {
    width: 500px;
    height: 100px;
    resize: none;
}

.information {
    display: flex;
    align-items: flex-start;
}