* {
    box-sizing: border-box;
}
  
body {
    font-family: Arial;
    padding: 10px;
    background: #ffffff;
}

header {
    padding-bottom: 30px;
}

hr {
    margin: 0%;
}

ul {
    list-style-type: none;
    margin: 0%;
}

.upperbar li {
    float: right;
    display: block;
    color: #505050;
    text-align: center;
    padding: 0px 8px;
}

/* Style the topnav links */
.upperbar li a {
    float: right;
    display: block;
    color: #505050;
    text-align: center;
    text-decoration: none;
}
  
/* Change color on hover */
.upperbar li a:hover {
    color: rgb(0, 70, 42);
    font-weight: bold;
}

/* Style the top navigation bar */
nav {
    overflow: hidden;
    background-color: #ffffff;
}

.navbar__logo {
    text-align: center;
    padding: 20px;
    padding-bottom: 40px;
}

.navbar__logo a {
    font-weight: bold;
    font-size: 50px;
    color: rgb(0, 70, 42);
    text-decoration: none;
}

.navbar__menu {
    padding: 0px;
}

/* Style the topnav links */
.navbar__menu li a {
    float: left;
    display: block;
    font-size: 18px;
    color: #222222;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}
  
/* Change color on hover */
.navbar__menu li a:hover {
    font-size: 18px;
    background-color: rgb(134, 182, 162);
    color: #222222;
}

textarea {
    width: 500px;
    height: 100px;
    resize: none;
}

.information {
    display: flex;
    align-items: flex-start;
}