<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
</head>
<body>
    <header>
        <ul class="upperbar">
            <li><a href="/customer_center">고객센터</a></li>
            <li>|</li>
            <li><a href="/travel">여행</a></li>
            <li>|</li>
            <li><a href="/mypage">마이페이지</a></li>
            <li>|</li>
            <li><a href="/login_selection">로그인</a></li>
        </ul>
    </header>
    <section>
    <nav>
        <div class="navbar__logo">
            <a href="">BrEw-Ha</a>
        </div>
        <hr>
        <ul class="navbar__menu">
            <li><a href="/menu">메뉴</a></li>
            <li><a href="/store">매장</a></li>
            <li><a href="/review_list">리뷰</a></li>
        </ul>
    </nav>
    </section>
    <hr>
    <section>
        {% block section %}
        {% endblock section %}
    </section>
</body>
</html>