{% extends "mypage_user.html" %}
{% block section %}
{% block content %}
<main id="main-content">
    <div class="order-history-container">
        {% if datas != [] %}
            <div class="order-row">
                {% for key, value in datas %}
                    <div class="order-card" onclick="location.href='/view_detail/{{ value['name'] }}/';" style="cursor:pointer;">
                        <div class="product-image">
                            <img src="static/images/{{ value.img_path }}" alt="{{ value['name'] }}">
                        </div>
                        <div class="product-details">
                            <h2>{{ value['name'] }}</h2>
                            <p>{{ value['info'] }}</p>
                            <p>가격 | {{ value['price'] }}원</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>좋아요한 상품이 없습니다.</p>
        {% endif %}
    </div>
</main>
{% endblock %}
{% endblock section %}