{% extends "index.html" %}

{% block section %}

<style>
    .sorting {
        display: flex;
        justify-content: space-between; /* 양쪽 정렬 */
        align-items: center;
        margin-bottom: 0px;
    }
    .sorting button {
        background: none;
        border: none;
        color: gray;
        padding: 10px 5px;
        cursor: pointer;
        transition: color 0.3s;
        font-size: 20px; 
        font-weight: bold;
    }
    .pagination {
        display: flex;
        justify-content: center; /* Center-aligns the pagination bar */
        align-items: center;
        margin-top: 20px;
        width: 100%;
    }
    .pagination a, .pagination button {
        margin: 0 5px;
        text-decoration: none;
        color: gray;
        font-family: 'Arial'; 
    }
    .pagination .prev-next {
        display: inline-block;
        background-color: lightgray; 
        border: 1px solid gray; 
        padding: 5px 5px;
        border-radius: 0; 
        font-weight: bold;
    }
    .pagination button {
        font-size: 20px;
        background: none;
        border: none;
        color: gray;
        font-weight: bold;
        cursor: pointer;
        padding: 5px;
    }
    .pagination button.active {
        color: green; 
    }
</style>

<nav>
    <ul class="submenu__under">
        <li><a href="/menu">메뉴</a></li>
        <li>|</li>
        <li><a href="{{url_for('view_list', page=i, category='All')}}">전체</a></li>
        {% if category != "All" %}
            <li>|</li>
            <li><strong>{{ category }}</strong></li> <!-- 현재 선택된 카테고리 -->
        {% endif %}
    </ul>
</nav>
<section>
<hr>
</section>
<div class="sorting">
    <div class="sorting-left">
        <ul class="sort">
            <li>인기순</li>
            <li>|</li>
            <li>낮은 가격순</li>
            <li>|</li>
            <li>높은 가격순</li>
            <li>|</li>
            <li>리뷰 많은순</li>
        </ul>
    </div>
    <div class="sorting-right">
        <button onclick="location.href='/reg_items'">
            <img src="{{ url_for('static', filename='images/submit.png') }}" alt="상품 등록" width="40px" height="40px">
        </button>
    </div>
</div>

{% if total > 0 %}
<table class="prd_table">
    <tbody>
        <!-- 첫 번째 row -->
        <tr class="row">
            {% for key, value in row1 %}
            <td class="prd" onclick="location.href='/view_detail/{{key}}/';" style="cursor:pointer;">
                <div class="prd_info">
                    <a href="#">
                        <img class="prd_img" src="static/images/{{ value.img_path }}" alt="{{ value['name'] }}">
                    </a>
                </div>
                <div class="prd_name">
                    <a href="#">
                        <p>{{ value['name'] }}</p>
                    </a>
                </div>
                <button class="btn_jjim"></button>
                <!--<div class="prd_star">
                    <a href="#">
                        <button class="btn_star"></button>
                        <p class="star_score">4.5</p>
                    </a>
                </div>-->
                <p class="prd_price">{{ value['price'] }}원</p>
            </td>
            {% endfor %}
        </tr>

        <!-- 두 번째 row -->
        <tr class="row">
            {% for key, value in row2 %}
            <td class="prd" onclick="location.href='/view_detail/{{key}}/';" style="cursor:pointer;">
                <div class="prd_info">
                    <a href="#">
                        <img class="prd_img" src="static/images/{{ value.img_path }}" alt="{{ value['name'] }}">
                    </a>
                </div>
                <div class="prd_name">
                    <a href="#">
                        <p>{{ value['name'] }}</p>
                    </a>
                </div>
                <button class="btn_jjim"></button>
                <!--<div class="prd_star">
                    <a href="#">
                        <button class="btn_star"></button>
                        <p class="star_score">4.5</p>
                    </a>
                </div>-->
                <p class="prd_price">{{ value['price'] }}원</p>
            </td>
            {% endfor %}
        </tr>
    </tbody>
</table>


<!-- 페이지네이션을 위한 코드 시작 -->
<div class="page-wrap">
    <div class="page-nation">
        <ul>
            <li>
            {% for i in range(page_count) %}
            <a href="{{ url_for('view_list', page=i, category=category) }}" style="color: black;">
                {{ i + 1 }}
            </a>
        {% endfor %}
            </li>
            
        </ul>
    </div>
</div>
{% else %}
<p>등록된 상품이 없습니다. </p>
{% endif %}
    

{% endblock section %}