{% extends "mypage_user.html" %}

{% block content %}
                {% if total > 0 %}
                <table>
                    <tr>
                        {% for key, value in datas %}
                            {% if item_name == value['name'] %}
                            <div class="product-image">
                                <img src="static/images/{{ value.img_path }}" alt="{{ value['name'] }}">
                            </div>
                            <div class="product-details">
                                <div class="detail-item"><h2>{{ item_name }}</h2></div><br><br>
                                <div class="detail-item">설명</div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </table>
                {% else %}
                    <p>주문이 모두 완료되었습니다.</p>
                {% endif %}
{% endblock %}