{% extends "mypage_user.html" %}
{% block section %}
{% block content %}
<main id="main-content">
    <div class="order-history-container">
        {% if review != [] %}
            <div class="order-row">
                {% for key, value in review %}
                    <div class="order-card" onclick="location.href='/view_review_detail/{{key}}/';" style="cursor:pointer;">
                        <div class="product-image">
                            <img src="static/images/{{ value.img_path }}" alt="{{ value['name'] }}">
                        </div>
                        <div class="product-details">
                            <h2>{{ value['title'] }}</h2>
                            <p>{{ value['name'] }}</p>
                            <p>별점 | {{ value['rate'] }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>리뷰가 없습니다.</p>
        {% endif %}
    </div>
</main>
{% endblock %}
{% endblock section %}