{% extends "mypage_manager.html" %}


{% block content %}
                {% if total > 0 %}
                <table>
                    <tr>
                        {% for user_id, item_name in items %}
                            {% for key, value in datas %}
                                {% if item_name == value['name'] %}
                                <div class="product-image">
                                    <img src="static/images/{{ value.img_path }}" alt="{{ value['name'] }}">
                                </div>
                                <div class="product-details">
                                    <div class="detail-item"><h2>{{ item_name }}</h2></div><br><br>
                                    <div class="detail-item">주문자 | {{ user_id }}</div>
                                    <div class="detail-item">설명</div>
                                    <!-- 완료 버튼 추가 -->
                                    <form action="/complete_item" method="POST">
                                        <input type="hidden" name="user_id" value="{{ user_id }}">
                                        <button type="submit" class="complete-button">완료</button>
                                    </form>
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </tr>
                </table>
                {% else %}
                    <p>주문이 없습니다.</p>
                {% endif %}
{% endblock %}