{% extends "index.html" %}
{% block section %}
<style>
     .sort a {
        font-weight: normal;
        /* 기본 폰트 두께 */
        text-decoration: none;
        float: left;
        display: block;
        color: #505050;
        text-align: center;
        padding: 0px 8px;
        text-decoration: none;
    }

    .sort a:hover {
        color: rgb(0, 70, 42);
        font-weight: bold;
    }

    .sort a.selected {
        color: rgb(0, 70, 42);
        /* 선택된 항목 색상 */
        font-weight: bold;
        /* 선택된 항목 폰트 두께 */
        text-decoration: underline;
        /* 선택된 항목 강조 (옵션) */
    }

    .sorting {
        display: flex;
        justify-content: space-between; /* 양쪽 정렬 */
        align-items: center;
        margin-bottom: 0px;
    }
    .sorting button {
        background: none;
        border: none;
        color: gray;
        padding: 10px 5px;
        cursor: pointer;
        transition: color 0.3s;
        font-size: 20px; 
        font-weight: bold;
    }
</style>
{% if total > 0 %}
<div class="sorting">
    <div class="sorting-left">
        <ul class="sort">
            <li><a href="{{url_for('view_review', page=i, sort_by='newest')}}"
                class="{% if sort_by == 'newest' %}selected{% endif %}">최신순</a></li>
            <li>|</li>
            <li><a href="{{url_for('view_review', page=i, sort_by='oldest')}}"
                class="{% if sort_by == 'oldest' %}selected{% endif %}">오래된순</a></li>
            <li>|</li>
            <li><a href="{{url_for('view_review', page=i, sort_by='rate')}}"
                class="{% if sort_by == 'rate' %}selected{% endif %}">별점순</a></li>
        </ul>
    </div>
    <div class="sorting-right">
        <button onclick="location.href='/reg_review'">
            <img src="{{ url_for('static', filename='images/submit.png') }}" alt="상품 등록" width="40px" height="40px">
        </button>
    </div>
</div>
<table>
    <tr>
    {% for key, value in row1 %}
    <td onclick="location.href='/view_review_detail/{{key}}/';" style="cursor:pointer;"><img src="static/images/{{value.img_path}}", width=300, height=300></td>
    {% endfor %}
    </tr>
    <tr>
    {% for key, value in row1 %}
        <td>{{value.title}} ★{{value.rate}}</td>
    {% endfor %}
    </tr>
    <tr>
    {% for key, value in row2 %}
        <td onclick="location.href='/view_review_detail/{{key}}/';" style="cursor:pointer;"><img src="static/images/{{value.img_path}}", width=300, height=300></td>
    {% endfor %}
    </tr>
    <tr>
    {% for key, value in row2 %}
        <td>{{value.title}} ★{{value.rate}}</td>
    {% endfor %}
    </tr>
</table>
<!--페이지네이션을 위한 코드 시작--> 
<div class="page-wrap">
    <div class="page-nation">
        <ul>
            <li>
                {% for i in range(page_count)%}
                    <a href="{{url_for('view_review', page=i, sort_by=sort_by)}}" color="black">{{i+1}}</a>
                {% endfor %}
            </li>
        </ul>
    </div>
</div>
{% else %}
<p>등록된 리뷰가 없습니다.</p>
{% endif %}
{% endblock section %}