{% extends "index.html" %}
{% block section %}
<style>
    .sort a {
        font-weight: normal;
        /* 기본 폰트 두께 */
        text-decoration: none;
        float: left;
        display: block;
        color: #505050;
        text-align: center;
        padding: 0px 8px;
        text-decoration: none;
    }

    .sort a:hover {
        color: rgb(0, 70, 42);
        font-weight: bold;
    }

    .sort a.selected {
        color: rgb(0, 70, 42);
        /* 선택된 항목 색상 */
        font-weight: bold;
        /* 선택된 항목 폰트 두께 */
        text-decoration: underline;
        /* 선택된 항목 강조 (옵션) */
    }

    .sorting {
        display: flex;
        justify-content: space-between;
        /* 양쪽 정렬 */
        align-items: center;
        margin-bottom: 0px;
    }

    .sorting-left {
        display: flex;
        gap: 5px;
    }

    /* .sorting button {
        background: none;
        border: none;
        color: gray;
        padding: 10px 5px;
        cursor: pointer;
        transition: color 0.3s;
        font-size: 20px; 
        font-weight: bold;
    }
    .sorting button.active {
        color: green;
        font-weight: bold;
    } */
    .separator {
        color: gray;
        margin: 0 5px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 5px;
        margin-top: 15px;
    }

    .review-card {
        border: none;
        width: 22%;
        margin-top: 0px;
        margin-bottom: 10px;
        padding: 10px;
        text-align: left;
    }

    .review-image {
        width: 100%;
        height: 0;
        padding-bottom: 88.89%;
        position: relative;
        border: 2px solid gray;
        box-sizing: border-box;
    }

    .review-image img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .title-rating {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        font-size: 20px;
        color: black;
    }

    .title {
        font-weight: bold;
        color: black;
    }

    .rating {
        color: black;
        font-weight: bold;
    }

    .star {
        color: green;
        font-weight: bold;
    }

    .like-icon {
        position: absolute;
        bottom: 5px;
        right: 5px;
        font-size: 50px;
        cursor: pointer;
    }

    .pagination {
        text-align: center;
        margin-top: 20px;
    }

    .pagination a {
        margin: 0px;
        text-decoration: none;
        color: gray;
        font-family: 'Arial';
    }

    .pagination .prev-next {
        display: inline-block;
        background-color: lightgray;
        border: 1px solid gray;
        padding: 5px 5px;
        border-radius: 0;
        font-weight: bold;
    }

    .pagination button {
        font-size: 20px;
        background: none;
        border: none;
        color: gray;
        font-weight: bold;
        cursor: pointer;
        padding: 5px;
    }

    .pagination button.active {
        color: green;
    }
</style>
<nav>
    <ul class="submenu__under">
        <li><a href="/review_list">리뷰</a></li>
    </ul>
</nav>
<section>
    <hr>
</section>
<div class="sorting">
    <div class="sorting-left">
        <ul class="sort">
            <li><a href="{{url_for('view_review', page=i, sort_by='newest')}}"
                    class="{% if sort_by == 'newest' %}selected{% endif %}">최신순</a></li>
            <li>|</li>
            <li><a href="{{url_for('view_review', page=i, sort_by='oldest')}}"
                    class="{% if sort_by == 'oldest' %}selected{% endif %}">오래된순</a></li>
            <li>|</li>
            <li><a href="{{url_for('view_review', page=i, sort_by='rate')}}"
                    class="{% if sort_by == 'rate' %}selected{% endif %}">별점순</a></li>
        </ul>
    </div>
    <div class="sorting-right">
        <button onclick="location.href='/review_form'">
            <img src="{{ url_for('static', filename='images/submit.png') }}" alt="리뷰 추가" width="50px" height="50px">
        </button>
    </div>
</div>

{% if total > 0 %}
<table class="prd_table">
    <tbody>
        <!-- 첫 번째 row -->
        <tr class="row">
            {% for key, value in row1 %}
            <td class="prd" onclick="location.href='/view_detail/{{key}}/';" style="cursor:pointer;">
                <div class="prd_info">
                    <a href="#">
                        <img class="prd_img" src="static/images/{{ value.img_path }}" alt="{{ value['name'] }}">
                    </a>
                </div>
                <div class="prd_name">
                    <a href="#">
                        <p>{{ value['title'] }}</p>
                    </a>
                </div>
                <p class="prd_price">{{ value['rate'] }}</p>
            </td>
            {% endfor %}
        </tr>

        <!-- 두 번째 row -->
        <tr class="row">
            {% for key, value in row2 %}
            <td class="prd" onclick="location.href='/view_detail/{{key}}/';" style="cursor:pointer;">
                <div class="prd_info">
                    <a href="#">
                        <img class="prd_img" src="static/images/{{ value.img_path }}" alt="{{ value['name'] }}">
                    </a>
                </div>
                <div class="prd_name">
                    <a href="#">
                        <p>{{ value['title'] }}</p>
                    </a>
                </div>
                <button class="btn_jjim"></button>
                <p class="prd_price">{{ value['rate'] }}</p>
            </td>
            {% endfor %}
        </tr>
    </tbody>
</table>


<div class="page-wrap">
    <div class="page-nation">
        <ul>
            <li>
                {% for i in range(page_count) %}
                <a href="{{ url_for('view_list', page=i, sort_by=sort_by) }}" style="color: black;">
                    {{ i + 1 }}
                </a>
                {% endfor %}
            </li>
        </ul>
    </div>
</div>

{% else %}
<p>등록된 상품이 없습니다.</p>
{% endif %}
<!-- <div class="container">
            <div class="review-card">
                <div class="review-image">
                    <img src="static/images/test.png" alt="리뷰 사진">
                    <div class="like-icon">👍</div>
                </div>
                <div class="title-rating">
                    <div class="title">역시 이대 명물!</div>
                    <div class="rating"><span class="star">★</span> 5.0</div>
                </div>
            </div>
            <div class="review-card">
                <div class="review-image">
                    <img src="static/images/test.png" alt="리뷰 사진">
                    <div class="like-icon">👍</div>
                </div>
                <div class="title-rating">
                    <div class="title">꽉 찬 참치김밥</div>
                    <div class="rating"><span class="star">★</span> 4.0</div>
                </div>
            </div>
            <div class="review-card">
                <div class="review-image">
                    <img src="static/images/test.png" alt="리뷰 사진">
                    <div class="like-icon">👍</div>
                </div>
                <div class="title-rating">
                    <div class="title">아니 이 맛은..!</div>
                    <div class="rating"><span class="star">★</span> 4.5</div>
                </div>
            </div>
            <div class="review-card">
                <div class="review-image">
                    <img src="static/images/test.png" alt="리뷰 사진">
                    <div class="like-icon">👍</div>
                </div>
                <div class="title-rating">
                    <div class="title">실망입니다</div>
                    <div class="rating"><span class="star">★</span> 4.0</div>
                </div>
            </div>
        </div> -->


<!-- {% else %}
<p>등록된 상품이 없습니다. </p>
{% endif %} -->
<!-- <script>
            function setActive(button) {
                const buttons = document.querySelectorAll('.sorting button');
                buttons.forEach(btn => btn.classList.remove('active'));
                button.classList.add('active');
            }

        
                function setPageActive(button) {
                const buttons = document.querySelectorAll('.pagination button');
                buttons.forEach(btn => btn.classList.remove('active'));
                button.classList.add('active');
            }

        
        </script> -->
{% endblock section %}