{% extends "index.html" %}
{% block section %}
<script>
    function showThumb() {
        $.ajax({
            type: 'GET',
            url: '/show_ddabong/{{key}}/',
            data: {},
            success: function (response) {
                let my_thumb = response['my_thumb'];
                $("#thumb-count").text(my_thumb['ddabong_count']);
                if (my_thumb['interested'] == 'Y') {
                    $("#thumb").css("color", "green");
                    $("#thumb").off("click").on("click", unlikeThumb); // 수정된 부분
                } else {
                    $("#thumb").css("color", "gray");
                    $("#thumb").off("click").on("click", likeThumb); // 수정된 부분
                }
            }
        });
    }

    function likeThumb() {
        $.ajax({
            type: 'POST',
            url: '/like_ddabong/{{key}}/',
            data: {
                interested: "Y"
            },
            success: function (response) {
                alert(response['msg']);
                showThumb();
            }
        });
    }           

    function unlikeThumb() {
        $.ajax({
            type: 'POST',
            url: '/unlike_ddabong/{{key}}/',
            data: {
                interested: "N"
            },
            success: function (response) {
                alert(response['msg']);
                showThumb();
            }
        });
    }

    $(document).ready(function () {
        showThumb();
    });

</script>

    <style>
        .review-card {
            padding: 20px;
            width: 100%; 
            max-width: 1300px; 
            display: flex;
        }

        .review-image {
            flex: 0 0 380px;
            height: 380px;
            width: 380px;
            border: 1.5px solid gray;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 30px;
            color: gray;
            font-size: 20px;
            font-weight: bold;
        }

        .review-content {
            flex: 1;
        }

        .review-title {
            font-size: 40px;
            font-weight: bold;
            margin: 5px;
        }

        .review-meta {
            font-size: 20px;
            font-weight: bold;
            margin: 15px 15px;
        }

        .review-box {
            border: 2.5px solid rgb(184,198,191);
            min-height: 310px; 
        }

        .review-rating {
            color: rgb(0,70,42);
            font-size: 35px;
            margin: 10px 0; 
            text-align: right;
            cursor: pointer; /* 클릭 가능하도록 커서 변경 */
        }

        .review-text {
            margin: 15px 15px;
            font-size: 20px;
            font-weight: bold;
        }

        .divider {
            border-top: 1.5px solid gray;
            margin: 10px 10px;
        }

        #thumb {
        font-size: 30px;
        cursor: pointer;
        }

        #thumb.green {
            color: green;
        }

        #thumb.gray {
            color: gray;
        }


    </style>
    <section class="sec_review_card">
        <div class="review-card">
            <div class="review-image">
                <img src="../../static/images/{{data.img_path}}", width=380px, height=380px>
            </div>
            <div class="review-content">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <h2 class="review-title">{{data['title']}}</h2>
                    <div class="review-rating" id="rating">
                        ★x {{data['rate']}} | <i class="fa fa-thumbs-up" id="thumb" style="color: gray;"></i>
                        <span id="thumb-count">0</span>
                        
                    </div>
                </div>
                <div class="review-box">
                    <div class="review-meta">
                        작성자 | {{data['id']}}<br>
                        작성일 | {{data.timestamp }}<br>
                        상품명 | {{data['name']}}
                    </div>
                    <div class="divider"></div>
                    <div class="review-text">{{data['review']}}</div>
                </div>
            </div>
        </div>


    </body>
    {% endblock section %}